SUPA_CONNECT_CLIENT_ID=
SUPA_CONNECT_CLIENT_SECRET=
VAULT_URL=http://localhost:1234/v1
VAULT_TOKEN=myroot
VAULT_PORT=1234
PLATFORM_HOST=http://localhost:8089
WEBAPP_HOST=http://locahost:19006
SUPABASE_URL=https://office.starpy.me
FFMPEGLAB_PLATFORM_PORT=7001
SUPABASE_URL="http://localhost:3005"
COOKIE_SECRET=""
SUPABASE_SECRET_KEY=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_JWKS_URL="http://localhost:3005/auth/v1/.well-known/jwks.json"